*{
    font-family: 'Arial';
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    
}

.button{
    width: 16rem;
    height: 2.5rem;
    border:none;
    border-radius: 2rem;
    margin-top: 3rem;
    background-color: crimson;
    font-size: 1.6em;
    color: aliceblue;
    cursor:pointer;
}

.color{
    color: red;
    background-color: rgb(209, 176, 133);
    border: none;
}